<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items; let i = index;"> 
      <ion-item *ngIf="item.editmode === false" drag-reorder dragIndex="{{i}}" (draggingDone)="reorderItems($event)">
        <label style="padding-right:5px;" (click) = "enableEditing(item);">{{item.title}}</label>
        <input type="checkbox" checked="{{item.checked}}" (click)="checkitem(item)">
      </ion-item>
      <ion-item *ngIf="item.editmode === true">
        <ion-input autofocus type="text" value="" [(ngModel)]="newvalue" (keyup.enter)="edititem(item)" (blur)="edititem(item)"></ion-input>
      </ion-item>
      <ion-item-options side="left" (ionSwipe)="deleteitem(item)">
        <button ion-button color="danger" expandable (click) = "deleteitem(item)">
          <ion-icon name="text"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item>
      <ion-input type="text" value="" placeholder="Add an item.." [(ngModel)]="newitem" (keyup.enter)="additem()"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
