page-home {

}

input[type="checkbox"] {
    float: right;
    margin-right: 10px;
}

.label-md {
	margin-left: 8px;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

input[type="text"] {
	border: none;
}